
h1 {
  color:white;
  text-align: left;
  margin-top: 45vh;
  margin-left: 2%;
  font-family: 'Glegoo', serif;
  font-size: 210%;

}
#logo {
  font-family: 'Anton', sans-serif;
  margin-top: -32vh;
  font-size: 20vh;
  margin-left: 3%;

}
h2{
  font-family: 'Glegoo', serif;
  text-align: left;
  margin-top: -2vh;
  margin-bottom: 10vh;
  margin-left: 3vw;
  font-size: 5vh;
  color:white;

}
hr{
  color:#154e63;
  height:5%;
}

#about,#values,#whatWedo,#process,#contact{
  padding-top: 5%;
  padding:3%;
  font-family: 'Glegoo', serif;
  font-size: 2.7vh;
  height:auto;
  text-align: center;
}
.fa{
  font-size: 160%;
  display:inline-block;

}
.card-text {
  font-size: 180%;
  font-family: 'Glegoo', serif;
  margin-left: 0.5vw;
  text-align: center;
}
.card-body{
  font-family: 'Glegoo', serif;
  text-align: center;
}
#link{
  text-decoration: none;
  color:white;
  font-size: 5vh;

}


#vector1,#vector2,#vector3,#vector4{

  width:88%;
  margin-left: 2%;
}
p{
  font-size: 2.2vh;
}

h4{
  font-size: 5vh;
  font-family: 'Glegoo', serif;
  display:inline-block;

}
h5{
  font-size: 180%;;
  text-align: center;
  font-family: 'Glegoo', serif;
  color:#20718e;
}
img{
  width:40%;
  margin-top: 2vh;
  margin-left: 3vw;
}
#photo {
  width:45%;
  margin-top: 4vh;
  margin-left: 2vw;
}
#photo2 {
  width:45%;
  margin-top: 1vh;
  margin-left: 2vw;
}
.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
    color:black;
}

.navbar {
    background-color: transparent;

}
input,label,textarea{
  font-family: 'Glegoo', serif;
  color:black;
}

.top-nav-collapse {
    background-color: black;
    color:black;
}
#process {
  height:auto;
  padding-top: 3%;
  margin-bottom: 2%;

}
.testimonial-card {
  height:103%;
}
#process-title{
  padding-bottom: 2%;
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: black;
        color:black;
    }
    #trial {
        width:110.6%;
        margin-top: 50vh;
    }
    #jumbo{
        height:30%;
    }
}
#kazuri{
  font-family: 'Abel', sans-serif;
}
.modal {
  margin-top: 10vh;
  height:80vh;
}
.modal-content {
  height:80vh;
  background-color: white;
  opacity:0.9;
}
h3{
  /* font-family: font67518; */
  font-family: 'Anton', sans-serif;
  color:#20718e;
  text-align: center;
  font-size:500%;

  padding-top:1%;


}

.contact{
  text-align: center;
}
.bd-example4-modal-lg{
  width:50%;
  margin-left: 20vw;
  height:50%;
}

.jumbotron{
  height:auto;
  width:101.5%;


}


.parallax-window {
    min-height: 320px;
    Width:104.9%;
    margin-left: -5%;
    background: transparent;
}
#responsive{
  min-height:210px;
}
footer {
  background-color: black;
  height:14.6vh;

  margin-bottom: -1%;

}
section{
  background-color: white;
  height:50vh;
}


.container-fluid {
  height: 90%;
}

#strategy {
  margin-left: 2vw;
  display:inline-block;
  height:280vh;

}


@media screen and (max-width: 736px){

  #jumbo {
    width:50vw;
  }
}

@media (max-width: 767px) {
        #process {
            width: 100%;
            height:auto;
            padding-top: 3%;
            padding-bottom: 10%;

        }
        .bottom {
          width:104.8%;
        }
        #logo {
          font-size: 17vh;
          margin-left: 7vw;

        }
        #link,h2 {
          font-size:2.75vh;
        }

        h2{
          margin-left: 7vw;

        }
        h3{
          font-size: 14vw;
        }
        h4,.fa{
          text-align: center;

        }
        h6{
          font-family: 'Glegoo', serif;
          font-size: 250vh;
        }
        .container-fluid {
          height: auto;
        }
        .navbar {
            background-color: black;
            color:black;
        }
        #map-container-8 {
          height: 120%;
        }
      #whatWedo{
        margin-top: -5vh;
        text-align: center;
      }
      .whatWedo{
        display:inline-block;

      }
      .testimonial-card{
        margin-left:2vw;
      }
      #navbarSupportedContent {
      opacity:0.9;
      background-color: black;

    }
    #about,#values{
      margin-top: -1vh;
      padding:3%;
      font-family: 'Glegoo', serif;
      font-size: 2.2vh;
      height:auto;
    }

    #whatWedo {
      font-family: 'Glegoo', serif;
      font-size: 2.2vh;
      height:auto;
    }

    #top-image{
      width:190%;
    }

    .fa {
      display: block;
    }
    .bottom {
      width:99%;
    }
    #about,#values,#whatWedo,#process{
      padding:13%;
      font-family: 'Glegoo', serif;
      font-size: 1.7vh;
      height:auto;
      text-align: center;
    }
    #top-image{
      width:290%;
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    #process {
        width: 100%;
        height:auto;
    }
    .container-fluid {
      height: auto;
    }
    .testimonial-card{
      margin-left:2vw;
    }
    .navbar {
        background-color: black;
        color:black;
        width:800%;
    }
    #navbarSupportedContent {
        margin-left: 40vw;
        background-color: black;
      }


      #about,#values,#whatWedo,#process,#contact{
        padding-top: 10%;
        padding:3%;
        font-family: 'Glegoo', serif;
        font-size: 2.2vh;
        height:auto;
        text-align: center;
      }
      #contactCard{
        /* padding:10%; */
        margin-top: -90vh;
      }

      #top-image{
        width:190vw;
      }

}

@media (max-width: 500px) {

  #process,#whatWedo,#about {
    padding:15%;
    margin-top: -10vh;
  }

@media (min-width: 992px) {
    #process {

        height:auto;
    }
    .container-fluid {
      height: 120%;
    }
    .card testimonial-card {
      height:90vh;
      margin-left:1vw;
    }
    #about,#values,#whatWedo,#process,#contact{
      padding-top: 10%;
      padding:3%;
      font-family: 'Glegoo', serif;
      font-size: 2.2vh;
      height:auto;
      text-align: center;
    }
    #top-image{
      width:190vw;
    }
    h4{
      font-size: 190%;
      font-family: 'Glegoo', serif;
      text-align: center;
      display:inline-block;
    }
  }

@media (min-width: 1124px) and (min-width:995px){
    #process {

        height:auto;
    }
    .container-fluid {
      height: auto;
    }
    .card testimonial-card {
      height:90vh;
    }

    .top-nav-collapse {
        background-color: black;
        color:black;
    }
    h4{
      font-size: 190%;
      font-family: 'Glegoo', serif;
      text-align: center;
      display:inline-block;
      padding-left: 90vw;
    }
  }
