
h1 {
  color:white;
  text-align: left;
  margin-top: 45vh;
  margin-left: 2%;
  font-family: 'Glegoo', serif;
  font-size: 210%;

}
#logo {
  font-family: 'Anton', sans-serif;
  margin-top: -32vh;
  font-size: 20vh;
  margin-left: 3%;

}
h2{
  font-family: 'Glegoo', serif;
  text-align: left;
  margin-top: -2vh;
  margin-bottom: 10vh;
  margin-left: 3vw;
  font-size: 5vh;
  color:white;

}
#about,#values{
  margin-top: -4vh;
  padding:5%;
}
.card-text {
  font-size: 180%;
  font-family: 'Glegoo', serif;
  margin-left: 2vw;
}
.card-body{
  font-family: 'Glegoo', serif;
}
#link{
  text-decoration: none;
  color:white;
  font-size: 5vh;

}
#vector1,#vector2,#vector3,#vector4{

  width:80%;
  margin-left: 9%;
}
p{
  font-size: 2.2vh;
}

h4{
  font-size: 285%;
  font-family: 'Raleway', sans-serif;

  display:inline-block;
  text-align: center;

}
h5{
  font-size: 200%;;
  text-align: center;
  font-family: 'Glegoo', serif;
}
img{
  width:40%;
  margin-top: 2vh;
  margin-left: 3vw;
}
#photo {
  width:45%;
  margin-top: 4vh;
  margin-left: 2vw;
}
#photo2 {
  width:45%;
  margin-top: 1vh;
  margin-left: 2vw;
}
.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
    color:black;
}

.navbar {
    background-color: transparent;

}
input,label,textarea{
  font-family: 'Glegoo', serif;
  color:black;
}

.top-nav-collapse {
    background-color: black;
    color:black;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: black;
    }
    #trial {
        width:110.6%;
        margin-top: 50vh;
    }
    #jumbo{
        height:30%;
    }
}
#kazuri{
  font-family: 'Abel', sans-serif;
}
.modal {
  margin-top: 10vh;
  height:80vh;
}
.modal-content {
  height:80vh;
  background-color: white;
  opacity:0.9;
}
h3{
  font-family: font67518;
  color:black;
  text-align: left;
  font-size:450%;
  margin-left: 2vw;
  margin-top: -1vh;


}

.contact{
  text-align: center;
}
.bd-example4-modal-lg{
  width:50%;
  margin-left: 20vw;
  height:50%;
}

.jumbotron{
  height:auto;
  width:101.5%;


}
.parallax-window {
    min-height: 410px;
    Width:104.9%;
    margin-left: -5%;
    background: transparent;
}

section{
  background-color: white;
  height:50vh;
}


.container-fluid {
  height: 90%;
}

#strategy {
  margin-left: 2vw;
  display:inline-block;
  height:280vh;

}


@media screen and (max-width: 736px){

  #jumbo {
    width:50vw;
  }
}

@media (max-width: 767px) {
    #process {
        width: 100%;
        height:auto;
    }

    .bottom {
      width:104.8%;
    }
    #logo {
      font-size: 17vh;
      margin-left: 7vw;

    }
    #link,h2 {
      font-size:2.75vh;

    }
    h2{
      margin-left: 7vw;

    }
    h3{
      font-size: 14vw;
    }
    h6{
      font-family: 'Glegoo', serif;
      font-size: 250vh;
    }
    .container-fluid {
      height: auto;
    }
  #whatWedo{
    margin-top: -5vh;
    display:inline-block;
  }
  .whatWedo{
    display:inline-block;

  }
  .testimonial-card{
    margin-left:3vw;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
    #process {
        width: 100%;
        height:auto;
    }
    .container-fluid {
      height: auto;
    }
    .testimonial-card{
      margin-left:3vw;
    }

}
@media (min-width: 992px) {
    #process {

        height:auto;
    }
    .container-fluid {
      height: 120%;
    }
    .card testimonial-card {
      height:90vh;
      margin-left:3vw;
    }
}

@media (min-width: 1124px) and (min-width:995px){
    #process {

        height:auto;
    }
    .container-fluid {
      height: auto;
    }
    .card testimonial-card {
      height:90vh;
    }
    .navbar {
        background-color: black;
    }

    .top-nav-collapse {
        background-color: black;
        color:black;
    }
}
