body{

}
h1 {
  color:white;
  text-align: left;
  margin-top: 45vh;
  margin-left: 2%;
  font-family: 'Glegoo', serif;
  font-size: 210%;

}
#logo {
  font-family: 'Anton', sans-serif;
  margin-top: -97vh;
  font-size: 20vh;
  margin-left: 3vw;
  opacity:0.9;
}
h2{
  font-family: 'Glegoo', serif;
  text-align: left;
  margin-top: 32.5%;
  margin-left: 2vw;
  font-size: 6vh;
  color:white;

}
#link{
  text-decoration: none;
  color:white;
  font-size: 6vh;

}
.jumbotron{

  margin-top: -3.8vh;
  width:103.8%;
  margin-left: -1.89%;
  height:auto;
}
img{
  width:40%;
  margin-top: 2vh;
  margin-left: 2vw;
}
#photo {
  width:45%;
  margin-top: 4vh;
  margin-left: 2vw;
}
#photo2 {
  width:45%;
  margin-top: 1vh;
  margin-left: 2vw;
}
.view {
    background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
    background-size: cover;
    color:black;
}

.navbar {
    background-color: transparent;

}

.top-nav-collapse {
    background-color: black;
    color:black;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: black;
    }
    #trial {
        width:110.6%;
        margin-top: 50vh;
    }
    #jumbo{
        height:30%;
    }
}
#kazuri{
  font-family: 'Abel', sans-serif;
}
.modal {
  margin-top: 10vh;
  height:80vh;
}
.modal-content {
  height:80vh;
  background-color: white;
  opacity:0.9;
}
h3{
  font-family: 'Abril Fatface', cursive;
  color:black;
  text-align: left;
  font-size:300%;
  margin-left: 2vw;
  margin-top: -1vh;


}
.card {
  margin-top: 5%;
  width:80%;
  height:190%;
  margin-left:9%;
  background-color: #e35a47;
  font-family: font67518;
}

#frameModalBottom{
  width:100%;
}
.contact{
  text-align: center;
}
.bd-example4-modal-lg{
  width:50%;
  margin-left: 20vw;
  height:50%;
}

.jumbotron{
  height:auto;
  width:101.5%;


}
.parallax-window {
    min-height: 400px;
    Width:104.9%;
    margin-left: -5%;
    background: transparent;
}
section{
  background-color: white;
  height:60vh;
}
@media screen and (max-width: 736px){

  #jumbo {
    width:50vw;
  }
}
